/*------------------- basic setup -----------------------*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    opacity: 0.9;
}

body {
    color: #757575;
    font-family: "Raleway", sans-serif;
    background: #ffffff;
}

:root {
    --white-primary: rgba(255, 255, 255, 0.926);
    --color-secondary: rgba(255, 255, 255, 0.634);
    --simple-color: #2a0b3f;
    --simple-pink: #d91e8d;
    --h1-color: #888888;
    --5-white: #f2f2f2;
}

.content-5-white {
    background-color: var(--5-white);
    padding: 60px;
}

.content-white {
    background-color: #fff;
    padding: 60px;
}

.hire-btn {
    padding: 5px 50px;
    outline: none;
    color: var(--color-secondary);
    border: 1px solid var(--color-secondary);
    background-color: var(--simple-color);
    font-size: 1.5rem;
    font-family: "Montserrat-Regular";
    letter-spacing: 1px;
    text-transform: uppercase;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.more-btn {
    text-transform: capitalize;
    font-size: 1rem;
    padding: 5px 30px;
    text-decoration: none;
}

.hire-btn:hover,
.more-btn:hover {
    border: 1px solid var(--white-primary);
    color: var(--white-primary);
    transform: scale(1.02);
    -webkit-transform: scale(1.02);
    -moz-transform: scale(1.02);
    -ms-transform: scale(1.02);
    -o-transform: scale(1.02);
}

.heading-text {
    width: 100%;
    text-align: center;
}

.heading-text h1 {
    text-transform: capitalize;
    font-family: "Bebas_Neue";
    letter-spacing: 2px;
    font-size: 4rem;
    font-weight: bold;
    color: var(--h1-color);
}

.card-heading-text h1 {
    width: 100%;
    font-family: "Poppins-Regular";
    margin: 10px 0;
    color: var(--h1-color);
    font-size: 2rem;
}

.heading-text p {
    text-transform: capitalize;
    font-family: "Poppins-Regular";
    letter-spacing: 0.5px;
    font-size: 1rem;
    width: 50%;
    margin: -10px auto 100px auto;
    position: relative;
}

.heading-text p::after {
    content: "";
    position: absolute;
    top: "";
    bottom: -30px;
    left: 38%;
    height: 4px;
    width: 200px;
    background-color: rgba(91, 9, 9, 0.236);
    border-radius: 0 0 10px 10px;
    -webkit-border-radius: 0 0 10px 10px;
    -moz-border-radius: 0 0 10px 10px;
    -ms-border-radius: 0 0 10px 10px;
    -o-border-radius: 0 0 10px 10px;
}

.card-title {
    font-family: "Montserrat-Regular";
    font-weight: bold;
}

.headding-upper-bolder {
    text-transform: uppercase;
    color: var(--h1-color);
    font-size: 2rem;
    z-index: 1;
    margin-bottom: 20px;
    font-weight: bold;
    letter-spacing: 1.5px;
}

.main-content-d-f-100 {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-boundle-min {
    width: 70%;
    display: flex;
    justify-content: right;
    align-items: center;
    padding-left: 17px;
}

/*------------------------ header ------------------------*/
.header {
    height: 80px;
    padding: 0 50px;
    color: var(--white-primary);
    z-index: 99999999;
}

.headerSticky {
    position: fixed;
    top: 0;
    left: 0;
}

.header .header-row {
    width: 100%;
    display: flex;
}

.logo {
    height: 60px;
}
.header-text a {
    display: flex;
    text-decoration: none;
    outline: none;
    border: none;
}
.text {
    margin-left: 20px;
    height: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.text .company-name {
    font-size: 1.5rem;
    margin: 0px;
    font-family: "Montserrat-Bold";
    color: var(--5-white);
}

.menu-list .menu-items .contact-info {
    font-family: "Montserrat-Regular";
    display: none;
}

.menu-list .menu-items .contact-info h4 {
    width: 100%;
    text-align: center;
    text-transform: uppercase;
    margin: 20px 0;
}

.menu-list .menu-items .contact-info p {
    font-size: 1.2rem;
    height: 20px;
    display: flex;
    align-items: center;
    letter-spacing: 1px;
}

.menu-list .menu-items .contact-info p .fa-solid {
    width: 30px;
}

.menu-list .menu-items .fa-xmark {
    display: none;
    cursor: pointer;
}

.menu-list .menu-items .nav-option-icon {
    font-size: 1.2rem;
    width: 30px;
    display: none;
    justify-content: center;
    margin-right: 5px;
}

.option-link {
    display: flex;
    align-items: center;
}

.option-modal-res {
    display: none;
    margin-top: 10px;
    font-size: 1rem;
    padding: 0 0 0 10px;
}

.option-modal-res .option {
    letter-spacing: 1px;
    margin-top: 5px;
    display: flex;
    align-items: center;
}

#moreIcon {
    transition: 0.2s;
    -webkit-transition: 0.2s;
    -moz-transition: 0.2s;
    -ms-transition: 0.2s;
    -o-transition: 0.2s;
}

.menu-list .menu-items .fa-xmark:hover {
    opacity: 0.8;
}

.menu-list .menu-items {
    display: flex;
}

.menu-list .menu-more-icon {
    display: none;
}

.title-service {
    text-transform: capitalize;
    font-family: "Poppins-Regular";
    color: #fff;
}

.menu-list {
    height: 100%;
    align-items: center;
}

.menu-list li {
    margin: 10px 50px 0 0;
    font-size: 1rem;
    text-transform: uppercase;
    font-family: "Montserrat-Regular";
    display: flex;
}

.menu-list li a {
    text-decoration: none;
    color: var(--5-white);
    display: flex;
}

.menu-list li:nth-last-child(1) {
    margin: 10px 0px 0 0;
}

.menu-list li a:hover,
.menu-list li select:hover {
    color: var(--color-secondary);
}

#option {
    position: relative;
    display: block;
}

.fa-angle-down {
    margin-left: 5px;
    font-size: 1.2rem;
}

.option-modal {
    padding: 10px 0;
    position: absolute;
    bottom: -210px;
    border: 2px solid #309ed8;
    height: auto;
    width: 300px;
    background-color: #fff;
    z-index: 2;
    color: #333;
    display: none;
    transition: 5s;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    -webkit-transition: 5s;
    -moz-transition: 5s;
    -ms-transition: 5s;
    -o-transition: 5s;
}

.option-modal a,
.option-modal-res a {
    text-decoration: none;
    outline: none;
    border: none;
}

.option-modal::before {
    content: "";
    position: absolute;
    top: -9px;
    left: 35px;
    height: 15px;
    width: 15px;
    background-color: #fff;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    border-top: 2px solid #309ed8;
    border-left: 2px solid #309ed8;
}

.option {
    margin-top: px;
    padding: 2px 10px;
    color: #333;
}

.option-modal-res .option {
    color: var(--5-white);
}

.option:hover {
    background-color: #309ed8;
    color: #fff;
}

/*------------------------ header end ------------------------*/

/*------------------------ banner start ------------------------*/
.banner {
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to top left,
            rgba(48, 70, 156, 0.501),
            rgba(217, 30, 142, 0.507)),
        url(../image/banner-bg.jpg);
    background-position: center left;
    background-size: cover;
    background-attachment: fixed;
    overflow: hidden;
}

.com-banner {
    height: 30vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to top left,
            rgba(48, 70, 156, 0.501),
            rgba(217, 30, 142, 0.507)),
        url(../image/banner-bg.jpg);
    background-position: center left;
    background-size: cover;
    background-attachment: fixed;
    overflow: hidden;
}

.com-banner .title-service {
    width: 40%;
    margin: 0 auto;
    font-family: 'Montserrat-Regular';
}

.banner-row {
    width: 100%;
    position: relative;
}

.banner-text {
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
}

.com-banner-text {
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    text-align: center;
}

.banner-text h1 {
    font-size: 3.1rem;
    font-family: "Montserrat-Bold";
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #309ed8;
}

.com-banner-text h1 {
    font-size: 3.1rem;
    font-family: "Montserrat-Bold";
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #309ed8;
}

.banner-animation {
    height: 70vh;
    z-index: 1;
}

.banner-text,
.banner-ani {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.animation-ciecle {
    height: 65vh;
    width: 65vh;
    border: 5px dashed var(--simple-pink);
    position: absolute;
    top: 20px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    animation: animation 10s linear infinite;
    -webkit-animation: animation 10s linear infinite;
}

.animation-star {
    position: absolute;
    top: "";
    opacity: 0.5;
}

.str-1 {
    height: 150px;
    width: 150px;
    bottom: -60px;
    right: -70px;
    background: linear-gradient(to top left, #f8c90fa4, #309dd8a7);
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.str-2 {
    height: 30px;
    width: 30px;
    top: 60px;
    left: 70px;
    background: linear-gradient(to top left, #309dd8a7, #c395c6);
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    animation: drop 1s linear infinite;
    -webkit-animation: drop 1s linear infinite;
}

.str-3 {
    height: 30px;
    width: 30px;
    bottom: 100px;
    left: 700px;
    background: linear-gradient(to top left, #309dd8a7, #c395c6);
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    animation: drop-3 1s linear infinite;
    -webkit-animation: drop-3 1s linear infinite;
}

.str-4 {
    font-size: 3rem;
    top: 100px;
    left: 800px;
    color: var(--white-primary);
}

.str-4 .fa-xmark {
    animation: sprin 2s linear infinite;
    -webkit-animation: sprin 2s linear infinite;
}

.str-5 {
    font-size: 3rem;
    bottom: 100px;
    left: 100px;
    color: var(--white-primary);
}

.str-5 .fa-star {
    animation: scale 2s linear infinite;
    -webkit-animation: scale 2s linear infinite;
}

@keyframes scale {
    0% {
        color: var(--white-primary);
    }

    25% {
        color: var(--simple-color);
    }

    50% {
        color: #f8c90f;
    }

    75% {
        color: var(--white-primary);
    }

    100% {
        color: var(--simple-pink);
    }
}

@keyframes sprin {
    100% {
        transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
    }
}

@keyframes drop-3 {
    0% {
        bottom: 100px;
    }

    50% {
        bottom: 110px;
    }

    100% {
        bottom: 90px;
    }
}

@keyframes drop {
    0% {
        top: 60px;
    }

    50% {
        top: 50px;
    }

    100% {
        top: 70px;
    }
}

@keyframes animation {
    100% {
        transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
    }
}

/*------------------------ banner end ------------------------*/

/*------------------------ about ------------------------*/
.card-boundle-card {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.top-about-card {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90%;
    height: 500px;
    border: 2px solid rgba(52, 51, 51, 0.167);
    margin-bottom: 20px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    background-color: var(--white-primary);
    background-image: url(../image/card-bg-2.png);
    background-blend-mode: hue;
    background-position: center center;
    background-size: cover;
}

.content-image,
.top-about-card .card-heading-text {
    width: 100%;
}

.top-about-card .content-image {
    height: 90%;
    padding: 20px;
}

.top-about-card .content-image img {
    height: 98%;
}

.card-heading-text {
    padding: 20px;
    text-align: left;
}

/*------------------------ about end ------------------------*/

/*------------------------ services------------------------*/
.owl-carousel-next {
    width: 15%;
    display: flex;
    justify-content: center;
}

.owl-carousel-next .owl-prev,
.owl-carousel-next .owl-next {
    padding: 2px 14px;
    background-color: #6d72706f;
    text-align: center;
    font-size: 1.5rem;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.owl-carousel-next .owl-prev:hover,
.owl-carousel-next .owl-next:hover {
    color: var(--5-white);
}

.services-content .card-boundle-min .card-services {
    width: 90%;
}

.services-content .card-boundle-min .card-services .card {
    background-color: var(--5-white);
    margin-bottom: 20px;
    background-image: url(../image/card-bg-3.png);
    background-blend-mode: color-dodge;
    background-position: center center;
    background-size: cover;
}

.services-content .card-boundle-min .card-services .card:hover .card-img-top {
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
}

.services-content .card-boundle-min .card-services .card:hover {
    box-shadow: 3px 4px 10px rgba(51, 51, 51, 0.322);
}

.services-content .card-boundle-min .card-services .card .card-img-top {
    height: 200px;
    width: 200px;
    margin: auto;
    padding: 10px;
    transition: 0.2s;
    -webkit-transition: 0.2s;
    -moz-transition: 0.2s;
    -ms-transition: 0.2s;
    -o-transition: 0.2s;
}

/*------------------------ services end ------------------------*/

/*------------------------ qualitys  ------------------------*/

.container-qualitys .qualitys {
    width: 90%;
}

.container-qualitys .qualitys .qualitys-card-main {
    display: flex;
    justify-content: center;
}

.container-qualitys .qualitys .qualitys-card-main .card {
    padding: 20px;
    width: 95%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    margin-bottom: 30px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    transition: 0.2s;
    -webkit-transition: 0.2s;
    -moz-transition: 0.2s;
    -ms-transition: 0.2s;
    -o-transition: 0.2s;
    background-image: url(../image/card-bg-1.png);
    background-blend-mode: hue;
    background-position: center center;
    background-size: cover;
}

.container-qualitys .qualitys .qualitys-card-main .card:hover {
    transform: scale(1.05);
    -webkit-transform: scale(1.05);
    -moz-transform: scale(1.05);
    -ms-transform: scale(1.05);
    -o-transform: scale(1.05);
    box-shadow: 3px 4px 10px rgba(51, 51, 51, 0.322);
}

.container-qualitys .qualitys .qualitys-card-main .card .card-img-top {
    height: 100px;
    width: 100px;
    margin-top: 20px;
}

/*------------------------ qualitys end ------------------------*/

/*------------------------ pricing ------------------------*/
.pricing-main-content {
    font-family: "Montserrat-Regular";
    position: relative;
    margin: 20px 0 50px 0;
}

.pricing-main-content .card {
    height: 500px;
    width: 350px;
    border-radius: 15px;
    box-shadow: 5px 5px 20px #333;
    overflow: hidden;
    transition: 0.3s;
}

.pricing-main-content .card-active {
    transform: scale(1.2);
    z-index: 999;
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
}

.pricing-main-content .card-1 {
    margin-right: -40px;
}

.pricing-main-content .card-3 {
    margin-left: -40px;
}

.pricing-main-content .card .card-top {
    height: 35%;
    width: 100%;
    background-color: #fff;
    border-radius: 15px 15px 0 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.pricing-main-content .card .card-top p:nth-child(1) {
    font-size: 3.5rem;
    font-weight: bold;
    margin-bottom: -10px;
}

.pricing-main-content .card-1 .card-top p:nth-child(1) {
    color: #4aee7b;
}

.pricing-main-content .card-2 .card-top p:nth-child(1) {
    color: #7d1fcb;
}

.pricing-main-content .card-3 .card-top p:nth-child(1) {
    color: #fc6b7f;
}

.pricing-main-content .card .card-top p:nth-child(2) {
    font-size: 1rem;
    font-weight: bold;
    color: rgb(134, 134, 134);
}

.pricing-main-content .card .card-bottom {
    height: 65%;
    width: 100%;
    border-radius: 0 0 15px 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.pricing-main-content .card-1 .card-bottom {
    background: linear-gradient(to top left, #2fb658, #bae074);
}

.pricing-main-content .card-2 .card-bottom {
    background: linear-gradient(to top left, #470081, #eb6ce4);
}

.pricing-main-content .card-3 .card-bottom {
    background: linear-gradient(to top left, #f75f6a, #e481bc);
}

.pricing-main-content .card .card-bottom .circle-1 {
    height: 200px;
    width: 200px;
    position: absolute;
    left: -60px;
    top: 20px;
    border-radius: 50%;
    opacity: 0.3;
}

.pricing-main-content .card .card-bottom .circle-2 {
    height: 90px;
    width: 90px;
    position: absolute;
    bottom: 50px;
    right: -30px;
    border-radius: 50%;
    opacity: 0.5;
}

.pricing-main-content .card-1 .card-bottom .circle-1 {
    background: linear-gradient(to bottom right, #036320, #abeb35);
}

.pricing-main-content .card-2 .card-bottom .circle-1 {
    background: linear-gradient(to bottom right, #3a0364, #ab19adb6);
}

.pricing-main-content .card-3 .card-bottom .circle-1 {
    background: linear-gradient(to bottom right, #e72a37, #e481bc);
}

.pricing-main-content .card-1 .card-bottom .circle-2 {
    background-color: #12993aa2;
}

.pricing-main-content .card-2 .card-bottom .circle-2 {
    background-color: #6a03a1;
}

.pricing-main-content .card-3 .card-bottom .circle-2 {
    background-color: #b65d63c9;
}

.pricing-main-content .card .card-bottom .status {
    text-transform: uppercase;
    color: #fff;
    font-size: 2rem;
    z-index: 1;
    margin-bottom: 20px;
    font-weight: bold;
    letter-spacing: 1.5px;
}

.pricing-main-content .card .card-bottom .info {
    z-index: 2;
}

.pricing-main-content .card .card-bottom .info p .fas {
    font-size: 1rem;
    width: 20px;
}

.pricing-main-content .card .card-bottom .info p .fa-times,
.pricing-main-content .card .card-bottom .info p .fa-check {
    height: 20px;
    width: 20px;
    background-color: var(--5-white);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.pricing-main-content .card .card-bottom .info p .fa-times {
    color: rgb(173, 15, 15);
}

.pricing-main-content .card .card-bottom .info p .fa-check {
    color: #1b9c42;
}

.pricing-main-content .card .card-bottom .info p {
    font-size: 1rem;
    color: #fff;
    margin-bottom: 5px;
    display: flex;
    align-items: center;
}

.pricing-main-content .card .card-bottom button {
    padding: 7px 45px;
    border-radius: 20px;
    border: none;
    outline: none;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 12px;
    z-index: 3;
    margin-top: 30px;
}

.pricing-main-content .card-1 .card-bottom button {
    color: #3ae06c;
    box-shadow: 2px 5px 20px #1b9c42;
}

.pricing-main-content .card-2 .card-bottom button {
    color: #7d1fcb;
    box-shadow: 2px 5px 20px #b171e6;
}

.pricing-main-content .card-3 .card-bottom button {
    color: #fc6b7f;
    box-shadow: 2px 5px 20px #f33b54;
}

.pricing-main-content .card-1 .card-bottom button:hover {
    color: #fff;
    background-color: #1b9c42;
}

.pricing-main-content .card-2 .card-bottom button:hover {
    color: #fff;
    background-color: #6a03a1;
}

.pricing-main-content .card-3 .card-bottom button:hover {
    color: #fff;
    background-color: #f33b54;
}

.pricing-main-content .card .card-bottom button:focus {
    background-color: #fff;
    box-shadow: 2px 3px 20px #fff;
}

.pricing-main-content .card-1 .card-bottom button:focus {
    color: #3ae06c;
}

.pricing-main-content .card-2 .card-bottom button:focus {
    color: #7d1fcb;
}

.pricing-main-content .card-3 .card-bottom button:focus {
    color: #fc6b7f;
}

/*------------------------ pricing end ------------------------*/

/*------------------------ skill  ------------------------*/
.skill-content .card-boundle-min .skill-mudal {
    width: 50%;
}

.skill-content .card-boundle-min .skill-mudal .skill-bundle {
    margin-bottom: 20px;
}

.skill-content .card-boundle-min .skill-mudal .skill-bundle .skill-bar {
    height: 15px;
    width: 95%;
    background-color: var(--h1-color);
    display: flex;
    flex-direction: row-reverse;
    justify-content: left;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.skill-content .card-boundle-min .skill-mudal .skill-bundle .skill-bar .skill-indicator {
    height: 15px;
    height: 35px;
    width: 35px;
    background-color: #4f84c4;
    margin: -10px 0 0 -30px;
    z-index: 999;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    color: var(--5-white);
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Montserrat-Regular";
    font-size: 0.8rem;
}

.skill-content .card-boundle-min .skill-mudal .skill-bundle .skill-bar .skill-indicator-pointer {
    height: 15px;
    background-color: var(--simple-color);
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

/*------------------------ skill end ------------------------*/

/*------------------------ porifolio  ------------------------*/
.porifolio-main-content .qualitys .portfolio-card .card {
    margin-bottom: 20px;
    background-color: var(--5-white);
    box-shadow: 3px 4px 10px rgba(51, 51, 51, 0.322);
    position: relative;
    transition: 0.2s;
    -webkit-transition: 0.2s;
    -moz-transition: 0.2s;
    -ms-transition: 0.2s;
    -o-transition: 0.2s;
    overflow: hidden;
}

.porifolio-main-content .qualitys .portfolio-card .card .card-img-top {
    height: 300px;
}

.porifolio-main-content .qualitys .portfolio-card .card .card-body {
    height: 150px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.porifolio-main-content .qualitys .portfolio-card .card .card-body .card-title {
    text-transform: uppercase;
    letter-spacing: 1px;
}

.porifolio-main-content .qualitys .portfolio-card .card .card-body .card-text {
    text-transform: capitalize;
}

.porifolio-main-content .qualitys .portfolio-card .card .options-more-portfolio {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.porifolio-main-content .qualitys .portfolio-card .card .options-more-portfolio .icons-protfolio-more a {
    text-decoration: none;
    color: var(--simple-color);
    font-size: 1.6rem;
    padding: 0px 10px;
    margin: 2px;
    background-color: #fff;
    border: 1px solid var(--simple-color);
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.porifolio-main-content .qualitys .portfolio-card .card .options-more-portfolio .icons-protfolio-more {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: -25%;
}

.porifolio-main-content .qualitys .portfolio-card .card .options-more-portfolio .icons-protfolio-more .swipe-left {
    animation: eye-left 0.2s linear forwards;
    opacity: 0;
    -webkit-animation: eye-left 0.2s linear forwards;
    transform: translateX(-480%);
    -webkit-transform: translateX(-480%);
    -moz-transform: translateX(-480%);
    -ms-transform: translateX(-480%);
    -o-transform: translateX(-480%);
}

.porifolio-main-content .qualitys .portfolio-card .card .options-more-portfolio .icons-protfolio-more .swipe-right {
    animation: more-right 0.2s linear forwards;
    opacity: 0;
    -webkit-animation: more-right 0.2s linear forwards;
    transform: translateX(520%);
    -webkit-transform: translateX(520%);
    -moz-transform: translateX(520%);
    -ms-transform: translateX(520%);
    -o-transform: translateX(520%);
}

@keyframes eye-left {
    100% {
        transform: translateX(0%);
        -webkit-transform: translateX(0%);
        -moz-transform: translateX(0%);
        -ms-transform: translateX(0%);
        -o-transform: translateX(0%);
        opacity: 1;
    }
}

@keyframes more-right {
    100% {
        transform: translateX(0%);
        -webkit-transform: translateX(0%);
        -moz-transform: translateX(0%);
        -ms-transform: translateX(0%);
        -o-transform: translateX(0%);
        opacity: 1;
    }
}

.porifolio-main-content .qualitys .portfolio-card .card .options-more-portfolio a:hover {
    background-color: #1161c3;
    color: var(--5-white);
}

.porifolio-main-content .qualitys .portfolio-card .card:hover {
    transform: scale(1.05);
    -webkit-transform: scale(1.02);
    -moz-transform: scale(1.05);
    -ms-transform: scale(1.05);
    -o-transform: scale(1.05);
}

.porifolio-main-content .qualitys .portfolio-card .card:hover .options-more-portfolio {
    display: flex;
}

/*------------------------ porifolio end ------------------------*/

/*------------------------ team ------------------------*/
.team-card .card .card-body .card-title,
.team-card .card .card-body .card-text {
    text-transform: capitalize;
}

.team-card .card .options-more-team {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.team-card .card .options-more-team .icons-team-more {
    animation: swipe-down 0.2s linear forwards;
    opacity: 0;
    -webkit-animation: swipe-down 0.2s linear forwards;
    transform: translateY(-600%);
    -webkit-transform: translateY(-500%);
    -moz-transform: translateY(-500%);
    -ms-transform: translateY(-500%);
    -o-transform: translateY(-500%);
    margin-top: -25%;
}

@keyframes swipe-down {
    100% {
        opacity: 1;
        transform: translateY(0%);
        -webkit-transform: translateY(0%);
        -moz-transform: translateY(0%);
        -ms-transform: translateY(0%);
        -o-transform: translateY(0%);
    }
}

.options-more-team .icons-team-more a {
    text-decoration: none;
    color: var(--simple-color);
    font-size: 1.6rem;
    padding: 2px 10px;
    margin: 2px;
    background-color: #fff;
    border: 1px solid var(--simple-color);
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.options-more-team .icons-team-more a:hover {
    background-color: #1161c3;
    color: var(--5-white);
}

.team-card .card:hover .options-more-team {
    display: flex;
}

/*------------------------ team end ------------------------*/
/*------------------------ reviews  ------------------------*/
.review-card {
    background-color: var(--5-white);
}

.review-card .card-body {
    text-align: center;
}

.review-card .card-body h4 {
    text-transform: capitalize;
}

.review-card .card-body h6 {
    text-transform: uppercase;
    font-weight: bold;
    font-family: "Poppins-Regular";
    letter-spacing: 2px;
}

.review-card .card-body .card-text {
    font-style: italic;
}

/*------------------------ reviews end ------------------------*/

/*------------------------ contact ------------------------*/
.contact-main-content .contact-content {
    display: flex;
    align-items: center;
    justify-content: center;
}

.contact-main-content .contact-content .contact-left,
.contact-main-content .contact-content .contact-right {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--5-white);
    padding: 40px;
}

.contact-main-content .contact-content .contact-left form .form-control {
    background: none;
    border: 1px solid var(--simple-color);
}

/*------------------------ contact end ------------------------*/
/*------------------------ footer  ------------------------*/
.footer .copyright {
    width: 100%;
    text-align: center;
    margin: 20px 0 -40px 0;
    font-family: "Montserrat-Regular", "Poppins-Regular";
}

.footer-main-content {
    color: var(--5-white);
    font-family: "Montserrat-Regular", "Poppins-Regular";
}

.footer-main-content .qualitys .row .card-title {
    text-transform: uppercase;
    position: relative;
    margin-bottom: 20px;
}

.footer-main-content .qualitys .row .card-title::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -5px;
    height: 2px;
    width: 70px;
    background-color: var(--h1-color);
}

.footer-main-content .qualitys .row ul {
    list-style: none;
}

.footer-main-content .qualitys .row ul li {
    margin: 5px 0 5px -30px;
}

.footer-main-content .qualitys .row ul li {
    margin: 5px 0 5px -30px;
    border-bottom: 1px solid var(--h1-color);
    padding: 6px 6px 6px 0;
}

.footer-main-content .qualitys .row ul li a {
    text-decoration: none;
    color: var(--5-white);
    cursor: pointer;
    font-size: 1rem;
    text-transform: capitalize;
}

.footer-main-content .qualitys .row .contact-footer p {
    margin-top: -6px;
}

.footer-main-content .qualitys .row .subscription-con {
    margin-top: 15px;
    display: flex;
}

.subscription-con input {
    padding: 5px 15px;
    border: 1px solid var(--white-primary);
    outline: none;
    width: 60%;
}

.subscription-con button {
    padding: 10px 15px;
    text-transform: uppercase;
    font-weight: bold;
    background-color: var(--simple-color);
    color: var(--5-white);
    border: 1px solid var(--white-primary);
    outline: none;
    width: 40%;
}

.subscription-con button:hover {
    color: var(--color-secondary);
}

.footer-main-content .qualitys .row ul li a:hover {
    color: var(--color-secondary);
}

.footer-main-content .qualitys .row ul li a .fa-angle-right {
    margin-right: 10px;
}

.footer-main-content .qualitys .row .contact-footer .footer-more-option {
    display: flex;
    align-items: center;
    justify-content: left;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

/*------------------------ footer end ------------------------*/

/*------------------------ clients ------------------------*/
.container-qualitys .qualitys .clients-card-main {
    display: flex;
    justify-content: center;
}

.container-qualitys .qualitys .clients-card-main .card {
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.container-qualitys .qualitys .clients-card-main .card img {
    width: 100%;
    transition: 0.2s;
    -webkit-transition: 0.2s;
    -moz-transition: 0.2s;
    -ms-transition: 0.2s;
    -o-transition: 0.2s;
}

.container-qualitys .qualitys .clients-card-main .card:hover img {
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
}

/*------------------------ clients end ------------------------*/

/*------------------------ overview ------------------------*/
.overviews {
    padding: 100px 0;
}

.overviews-main-content .qualitys .over-view-card {
    display: flex;
    justify-content: center;
    align-items: center;
}

.overviews-main-content .qualitys .over-view-card .card {
    width: 90%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom: 8px solid #1b6cced4;
    background-color: var(--5-white);
}

.overviews-main-content .qualitys .over-view-card .card img {
    width: 50%;
    margin-bottom: 20px;
}

.overviews-main-content .qualitys .over-view-card .card h1 {
    font-size: 4rem;
    font-family: "Poppins-Regular";
    font-weight: bold;
    letter-spacing: 1px;
    color: #1b6cced4;
}

.overviews-main-content .qualitys .over-view-card .card p {
    font-size: 1.5rem;
    font-family: "Montserrat-Bold";
    font-weight: normal;
    text-transform: capitalize;
    color: var(--simple-color);
}

/*------------------------ overview end ------------------------*/
/*------------------------ contact page  ------------------------*/
.contact-card {
    padding: 50px;
    font-family: "Poppins-Regular";
}

.contact-card .card-title {
    text-transform: uppercase;
    font-weight: bold;
    position: relative;
    margin-bottom: 20px;
}

.contact-card .card-title::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -5px;
    height: 2px;
    width: 70px;
    background-color: var(--h1-color);
}

/*------------------------ contact page end ------------------------*/
/*------------------------ services page  ------------------------*/
.ser-card-boundle-min {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.ser-card-boundle-min .card-services {
    margin: 20px auto;
    width: 28%;
    box-shadow: 3px 4px 10px rgba(51, 51, 51, 0.322);
}

.ser-card-boundle-min .card-services .card {
    padding: 10px;
    transition: all 0.2s;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -ms-transition: all 0.2s;
    -o-transition: all 0.2s;
}

.ser-card-boundle-min .card-services .card:hover {
    transform: scale(1.08);
    -webkit-transform: scale(1.08);
    -moz-transform: scale(1.08);
    -ms-transform: scale(1.08);
    -o-transform: scale(1.08);
}

.ser-card-boundle-min .card-services .card img {
    height: 30vh;
    width: 50%;
    margin: 20px auto;

}

/*------------------------ services page end ------------------------*/