<!DOCTYPE html>
<html lang="en">

<head>
    <title>Contact</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../fonts/fontawesome-free-6.1.1-web/css/all.css">
    <link rel="stylesheet" href="../css/owl.carousel.min.css">
    <link rel="stylesheet" href="../css/owl.theme.default.min.css">
    <link href="../css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="../fonts/font/font.css">
    <link href="../css/main.css" rel="stylesheet">
    <link rel="stylesheet" href="../css/responsive.css">
</head>

<body>

    <!-- contact  -->
    <div class="col-md-3 contact-footer contact-card">
        <div class="card-title">contact us</div>
        <p>1300 Center Avenue</p>
        <p>Gazipur,Dhaka</p>
        <p>Bangladesh</p>
        <p>Phone: 016xxxx-xxxx</p>
        <p>Email: exampleit@gmail.com</p>
        <div class="options-more-team footer-more-option">
            <div class="icons-team-more">
                <a href="http://" class="swipe-left"><i class="fa-brands fa-facebook-f"></i></a>
                <a href="http://" class="swipe-right"><i class="fa-brands fa-instagram"></i></a>
                <a href="http://" class="swipe-right"><i class="fa-brands fa-twitter"></i></a>
                <a href="http://" class="swipe-right"><i class="fa-brands fa-linkedin-in"></i></a>
            </div>
        </div>
    </div><!-- contact  end-->

    <script src="../js/jquery-3.6.0.min.js"></script>
    <script src="../js/bootstrap.js"></script>
    <script src="../js/popper.min.js"></script>
    <script src="../js/axios.min.js"></script>
    <script src="../js/owl.carousel.min.js"></script>
    <script src="../js/main.js"></script>
</body>

</html>../