<!DOCTYPE html>
<html lang="en">

<head>
    <title>Portfolio</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../fonts/fontawesome-free-6.1.1-web/css/all.css">
    <link rel="stylesheet" href="../css/owl.carousel.min.css">
    <link rel="stylesheet" href="../css/owl.theme.default.min.css">
    <link href="../css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="../fonts/font/font.css">
    <link href="../css/main.css" rel="stylesheet">
    <link rel="stylesheet" href="../css/responsive.css">
</head>

<body>

    <!-- portfolio -->
    <div class="container-fluid content-white">
        <div class="heading-text">
            <h1>our porifolio</h1>
            <p>We always ensure the quality of our services. We want to be the last company you ever used.
            </p>
        </div>
        <div class="container-qualitys porifolio-main-content main-content-d-f-100">
            <div class="row qualitys">
                <div class="col-md-4 col-sm-12 portfolio-card">
                    <div class="card">
                        <img src="../image/portfolio-1.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">web design</h5>
                            <p class="card-text">multy page responsive web site deign</p>
                        </div>
                        <div class="options-more-portfolio">
                            <div class="icons-protfolio-more">
                                <a href="http://" class="swipe-left"><i class="fa-solid fa-eye"></i></a>
                                <a href="http://" class="swipe-right"><i class="fa-solid fa-ellipsis"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 portfolio-card">
                    <div class="card">
                        <img src="../image/portfolio-2.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">web development</h5>
                            <p class="card-text">Commercial web site design and development</p>
                        </div>
                        <div class="options-more-portfolio">
                            <div class="icons-protfolio-more">
                                <a href="http://" class="swipe-left"><i class="fa-solid fa-eye"></i></a>
                                <a href="http://" class="swipe-right"><i class="fa-solid fa-ellipsis"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 portfolio-card">
                    <div class="card">
                        <img src="../image/portfolio-3.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">app design</h5>
                            <p class="card-text">android apps design</p>
                        </div>
                        <div class="options-more-portfolio">
                            <div class="icons-protfolio-more">
                                <a href="http://" class="swipe-left"><i class="fa-solid fa-eye"></i></a>
                                <a href="http://" class="swipe-right"><i class="fa-solid fa-ellipsis"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 portfolio-card">
                    <div class="card">
                        <img src="../image/portfolio-4.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">software design</h5>
                            <p class="card-text">computer software design</p>
                        </div>
                        <div class="options-more-portfolio">
                            <div class="icons-protfolio-more">
                                <a href="http://" class="swipe-left"><i class="fa-solid fa-eye"></i></a>
                                <a href="http://" class="swipe-right"><i class="fa-solid fa-ellipsis"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 portfolio-card">
                    <div class="card">
                        <img src="../image/portfolio-5.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">graphics design</h5>
                            <p class="card-text">company logo and vector grapgics design</p>
                        </div>
                        <div class="options-more-portfolio">
                            <div class="icons-protfolio-more">
                                <a href="http://" class="swipe-left"><i class="fa-solid fa-eye"></i></a>
                                <a href="http://" class="swipe-right"><i class="fa-solid fa-ellipsis"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 portfolio-card">
                    <div class="card">
                        <img src="../image/portfolio-6.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">digital marketing</h5>
                            <p class="card-text">facebook , youtube marketing</p>
                        </div>
                        <div class="options-more-portfolio">
                            <div class="icons-protfolio-more">
                                <a href="http://" class="swipe-left"><i class="fa-solid fa-eye"></i></a>
                                <a href="http://" class="swipe-right"><i class="fa-solid fa-ellipsis"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div><!-- porifolio end -->

    <script src="../js/jquery-3.6.0.min.js"></script>
    <script src="../js/bootstrap.js"></script>
    <script src="../js/popper.min.js"></script>
    <script src="../js/axios.min.js"></script>
    <script src="../js/owl.carousel.min.js"></script>
    <script src="../js/main.js"></script>
</body>

</html>../