


<div class="owl-carousel-next">
    <div class="customPrevBtn owl-prev"><i class="fa-solid fa-angle-left"></i></div>
</div>
<div class="card-boundle-min">
    <div class="card-boundle-min">
        <div class="owl-carousel owl-theme">
            <div class="item">
                <div class="top-about-card">
                    <div class="card-heading-text">
                        <h1>Our Best Services</h1>
                        <p>Our best services whatever we do, our ultimate purpose is to fulfill the
                            requirements
                            of
                            our
                            clients as best as
                            possible. We provide not only the client's requirements but also provide the
                            best
                            solution
                            for their company or
                            organization.</p>
                        <a href="#" class="hire-btn more-btn" type="button">read more</a>
                    </div>
                    <div class="content-image">
                        <img id="about-card-img" src="image/icons/png/001-consult.png" alt="">
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="top-about-card">
                    <div class="card-heading-text">
                        <h1>Telented team member</h1>
                        <p>Our vision is to establish and secure a leading position in the expanding ICT
                            industry by
                            providing the best products
                            and services to enable our partners and customers to compete effectively using
                            the
                            latest
                            technologies.</p>
                        <a href="#" class="hire-btn more-btn" type="button">read more</a>
                    </div>
                    <div class=" content-image">
                        <img src="image/icons/png/010-teamwork-1.png" alt="">
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="top-about-card">
                    <div class="card-heading-text">
                        <h1>Serve Latest Technologies.</h1>
                        <p>Our vision is to establish and secure a leading position in the expanding ICT
                            industry by
                            providing the best products
                            and services to enable our partners and customers to compete effectively using
                            the
                            latest
                            technologies.</p>
                        <a href="#" class="hire-btn more-btn" type="button">read more</a>
                    </div>
                    <div class="content-image">
                        <img src="image/icons/png/006-technology-1.png" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="owl-carousel-next">
    <div class="customNextBtn owl-next"><i class="fa-solid fa-angle-right"></i></div>
</div>




<!-- next -->


<div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
            aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
            aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
            aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
        <div class="carousel-item active ">
            <div class="card-boundle">
                <div class="top-about-card">
                    <div class="card-heading-text">
                        <h1>Our Best Services</h1>
                        <p>Our best services whatever we do, our ultimate purpose is to fulfill the
                            requirements
                            of
                            our
                            clients as best as
                            possible. We provide not only the client's requirements but also provide the
                            best
                            solution
                            for their company or
                            organization.</p>
                        <a href="#" class="hire-btn more-btn" type="button">read more</a>
                    </div>
                    <div class="content-image">
                        <img id="about-card-img" src="image/icons/png/001-consult.png" alt="">
                    </div>
                </div>
            </div>
        </div>
        <div class="carousel-item ">
            <div class="card-boundle">
                <div class="top-about-card">
                    <div class="card-heading-text">
                        <h1>Telented team member</h1>
                        <p>Our vision is to establish and secure a leading position in the expanding ICT
                            industry by
                            providing the best products
                            and services to enable our partners and customers to compete effectively using
                            the
                            latest
                            technologies.</p>
                        <a href="#" class="hire-btn more-btn" type="button">read more</a>
                    </div>
                    <div class=" content-image">
                        <img src="image/icons/png/010-teamwork-1.png" alt="">
                    </div>
                </div>
            </div>
        </div>
        <div class="carousel-item">
            <div class="card-boundle">
                <div class="top-about-card">
                    <div class="card-heading-text">
                        <h1>Serve Latest Technologies.</h1>
                        <p>Our vision is to establish and secure a leading position in the expanding ICT
                            industry by
                            providing the best products
                            and services to enable our partners and customers to compete effectively using
                            the
                            latest
                            technologies.</p>
                        <a href="#" class="hire-btn more-btn" type="button">read more</a>
                    </div>
                    <div class="content-image">
                        <img src="image/icons/png/006-technology-1.png" alt="">
                    </div>
                </div>
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
            data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
            data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
</div>