<!DOCTYPE html>
<html lang="en">

<head>
    <title>Services</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../fonts/fontawesome-free-6.1.1-web/css/all.css">
    <link rel="stylesheet" href="../css/owl.carousel.min.css">
    <link rel="stylesheet" href="../css/owl.theme.default.min.css">
    <link href="../css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="../fonts/font/font.css">
    <link href="../css/main.css" rel="stylesheet">
    <link rel="stylesheet" href="../css/responsive.css">
</head>

<body>

    <!-- services -->
    <div class="container-fluid content-white">
        <div class="heading-text">
            <h1>our services</h1>
            <p>We always ensure the quality of our services. We want to be the last company you ever used.
            </p>
        </div>
        <div class="services-content main-content-d-f-100">
            <div class="ser-card-boundle-min ">
                <div class="card-services">
                    <div class="card" id="WebDesign">
                        <img src="../image/icons/responsive.png" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Web Design</h5>
                            <p class="card-text">We are extreme for make responsive website design and
                                responsive HTML coversion.</p>
                            <a href="#" class="hire-btn more-btn" type="button">read more</a>
                        </div>
                    </div>
                </div>
                <div class="card-services">
                    <div class="card" id="Webdevelopment">
                        <img src="../image/icons/web-dev.png" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Web development</h5>
                            <p class="card-text">We are extreme for responsive webdevelopment and make a
                                more fast web application.</p>
                            <a href="#" class="hire-btn more-btn" type="button">read more</a>
                        </div>
                    </div>
                </div>
                <div class="card-services">
                    <div class="card" id="Mobileappdesign">
                        <img src="../image/icons/user-interface-2.png" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Mobile app design</h5>
                            <p class="card-text">Some quick example text to build on the card title and
                                make up
                                the
                                bulk of
                                the card's
                                content.</p>
                            <a href="#" class="hire-btn more-btn" type="button">read more</a>
                        </div>
                    </div>
                </div>
                <div class="card-services">
                    <div class="card" id="Mobileappdevelopment">
                        <img src="../image/icons/user-interface-1.png" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Mobile app development</h5>
                            <p class="card-text">Some quick example text to build on the card title and make up
                                the bulk of the card's content.</p>
                            <a href="#" class="hire-btn more-btn" type="button">read more</a>
                        </div>
                    </div>
                </div>
                <div class="card-services">
                    <div class="card" id="Softwaredesign">
                        <img src="../image/icons/app.png" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Software design</h5>
                            <p class="card-text">Some quick example text to build on the card title and
                                make up
                                the
                                bulk of
                                the card's
                                content.</p>
                            <a href="#" class="hire-btn more-btn" type="button">read more</a>
                        </div>
                    </div>
                </div>
                <div class="card-services">
                    <div class="card" id="Softwaredevelopment">
                        <img src="../image/icons/programming.png" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Software development</h5>
                            <p class="card-text">Some quick example text to build on the card title
                                the
                                bulk of
                                the card's
                                content.</p>
                            <a href="#" class="hire-btn more-btn" type="button">read more</a>
                        </div>
                    </div>
                </div>
                <div class="card-services">
                    <div class="card" id="Graphicsdesign">
                        <img src="../image/icons/graphics.png" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Graphics design</h5>
                            <p class="card-text">Some quick example text to build on the card title and
                                make up
                                the
                                bulk of
                                the card's
                                content.</p>
                            <a href="#" class="hire-btn more-btn" type="button">read more</a>
                        </div>
                    </div>
                </div>
                <div class="card-services">
                    <div class="card" id="UX&UIdesign">
                        <img src="../image/icons/ux-design.png" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">UX & UI design</h5>
                            <p class="card-text">Some quick example text to build on the card title and
                                make up
                                the
                                bulk of
                                the card's
                                content.</p>
                            <a href="#" class="hire-btn more-btn" type="button">read more</a>
                        </div>
                    </div>
                </div>
                <div class="card-services">
                    <div class="card" id="Digitalmarketing">
                        <img src="../image/icons/social-media.png" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Digital marketing</h5>
                            <p class="card-text">Some quick example text to build on the card title and
                                make up
                                the
                                bulk of
                                the card's
                                content.</p>
                            <a href="#" class="hire-btn more-btn" type="button">read more</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div><!-- services end -->

    <script src="../js/jquery-3.6.0.min.js"></script>
    <script src="../js/bootstrap.js"></script>
    <script src="../js/popper.min.js"></script>
    <script src="../js/axios.min.js"></script>
    <script src="../js/owl.carousel.min.js"></script>
    <script src="../js/main.js"></script>
</body>

</html>../